<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Weather App | About</title>
</head>

<body>
    {{>header}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="photo/cartoon.jpg" alt="abi" class="img-fluid mx-auto" title="abi">
                        </figure>
                    </div>

                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to WorldWeatherWeb</p>
                        <h1>I am a <span class="text_col"> MERN Stack Developer </span></h1>
                        <a href="#"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>